$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.alert {
  position: absolute;
  min-width: 300px;
  height: 60px;
  border-radius: 4px;
  padding: 6px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 20px;
  top: -100px;
  left: 20px;
  transition: top 0.5s;
  animation: dropAlert 3s linear;
  animation-iteration-count: 1;
  @media screen and (max-width: 700px) {
    width: 90vw;
    left: 5vw;
  }

  & > svg {
    margin-right: 12px;
  }

  & > p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.error {
    background-color: #D32F2F;
  }

  &.success {
    background-color: #2E7D32;
  }
}

#container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../assets/background.jpg");
  background-position: center;
  background-size: cover;

  #form-container {
    min-width: 600px;
    height: 50px;
    background: #D8D8D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 40px;
    opacity: 0.7;
    transform: skewX(-60deg);
    border: 1px solid rgba(255, 255, 255, 1);
    border-right-width: 2px;
    border-left-width: 2px;
    @media screen and (max-width: 700px) {
      height: 48px;
      transform: skewX(0deg);
      min-width: 90vw;
      padding: 0;
      border: none;
    }

    #input {
      flex: 2;
      height: 100%;
      outline: none;
      background: #D8D8D6;
      border: none;
      opacity: 0.7;
      transform: skewX(60deg);
      @media screen and (max-width: 700px) {
        transform: skewX(0deg);
        padding-left: 20px;
        flex: 4;
        background: #a4a3a3;
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }

    #btn-container {
      height: 102%;
      flex: 1;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 1);
      border-right-width: 2px;
      border-left-width: 2px;
      @media screen and (max-width: 700px) {
        height: 100%;
        transform: skewX(0deg);
        flex: 3;
        border: 1px solid rgba(255, 255, 255, 1);
      }

      button {
        border: none;
        background: #FE0000;
        width: 100%;
        cursor: pointer;
        height: 100%;
        outline: none;

        p {
          color: #FFFFFF;
          font-weight: 500;
          font-size: 16px;
          transform: skewX(60deg);
          @media screen and (max-width: 700px) {
            transform: skewX(0deg);
          }
        }
      }

    }

  }

}

@keyframes dropAlert {
  0% {
    top: -100px;
  }
  33% {
    top: 20px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: -100px;
  }
}